body {
    background: grey; 
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: uppercase;
    margin: 5px;
  } 

.scoreboard {
    background:rgba(0, 0, 0, 0.877);
    width: 600px;
    margin: 30px auto;
  }

   .header {
    padding: 4px 10px;
    text-align: center;
    align-items: center;
    background-color: ;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 2px #444;
  }

    .header h1 {
    flex-grow: 1;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: normal;
  }

  .player {
    display: flex;
    font-size: 1.3em;
    border-bottom: solid 2px #444;
    letter-spacing: 2px;
  }
  
    .player-name {
      flex-grow: 2;
      padding: 20px 5px 5px 10px;
    }
  
    .counter {
      display: flex;
      
    }
  
    .counter-action {
      border: none;
      font-weight: bold;
      color: black;
      display: block;
      padding: 20px 25px;
     
    }
  
    .counter-action.increment {
      background: white;
      
    }
  
    .counter-action.increment:hover {
      background: white;
      cursor: pointer;
      
    }
  
    .counter-action.decrement {
      background: white;
    }
  
    .counter-action.decrement:hover {
      background: white;
      cursor: pointer;
    }
  
    .counter-score {
      flex-grow: 1;
      background: #2b2b2b;
      color: #FAFAFA;
      text-align: center;
      font-family: monospace;
      padding: 15px;
      font-size: 1.6em;
    }
  
.remove-player {
    cursor: pointer;
    color: red;
}

.add-player-form form {
    display: flex;
    background-color: #222;
    border-radius: 0 0 20px 20px
  }
  
    .add-player-form input[type=text] {
      flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 10px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    outline: none;
      
    }
  
    .add-player-form input[type=text]::-webkit-input-placeholder{
      color: black;
      letter-spacing: 2px;
    }
  
    .add-player-form input[type=text]:focus{
      background-color: white;
    }
  
    .add-player-form input[type=submit] {
    display: block;
    font-size: .6em;
    margin: 15px 15px 15px 0; 
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    }
  
    .add-player-form input[type=submit]:hover{
      background: #4b71b5;
      color: #fafafa;
      cursor: pointer;
    }


